*

!packages
!build

packages/**/__pycache__
packages/**/*.egg-info

build/.git
build/artifacts/.git
build/artifacts/images
build/artifacts/local/workspaces
build/artifacts/local/logs
build/artifacts/local/chainlit
