.venv
__pycache__
/local/*
!/local/*.example
*.pyc
*.pyo
*.pyd
*.egg-info/
chroma_debug_db
# Chainlit runtime artifacts
.chainlit/translations/
.files/
chainlit.md
workspaces
.chainlit
.ruff_cache
.pytest_cache
