LITELLM_URL = "http://litellm:4000"
LITELLM_API_KEY = "<tocken>"
CONFLUENCE_URL = "http://confl:8090"
CONFLUENCE_TOKEN = "<tocken>"
DEFAULT_COLLECTION = "testing"
LLM_MODEL = "qwen3-0.6b"
EMBEDDING_MODEL = "e5-large-instruct"

# Таймауты (секунды)
LLM_TIMEOUT = 600
EMBEDDING_TIMEOUT = 120
